// .notificationCard {
//   height: auto;
//   position: relative;
//   padding: 12px;
//   border-radius: 15px;
//   display: flex;
//   margin-left: 10px;
//   margin-right: 10px;
//   cursor: pointer;
//   &:hover {
//     .deleteIcon {
//       visibility: visible;
//       opacity: 100%;
//       transform: translateY(-15px);
//     }
//   }
// }

// .middleBody {
//   margin-left: 50px;
//   width: 450px;
// }
// .middleBodyForRead {
//   margin-left: 60px;
//   width: 450px;
//   opacity: 0.4;
// }
// .title {
//   z-index: 1;
// }

// .time {
//   font-size: 12px;
//   font-weight: 600;
//   color: #adadad;
// }
// .sideDiv {
//   position: relative;
//   display: flex;
//   width: 160px;
//   right: 0px;
//   .amount {
//     display: inline;
//   }
//   .amountForRead {
//     display: inline;
//     opacity: 0.4;
//   }

//   .deleteIcon {
//     visibility: hidden;
//     position: absolute;
//     bottom: 0px;
//     right: 20px;
//     transition: transform 300ms;
//     transition-delay: 10ms;
//   }
//   .deleteIconForRead {
//     visibility: visible;
//     position: absolute;
//     bottom: 10px;
//     right: 20px;
//     opacity: 100%;
//     z-index: 99;
//   }
// }

//new
.mainDiv {
  &:hover {
    .deleteIcon {
      visibility: visible;
      opacity: 1;
      bottom: 22px;
    }
  }
}
.ForSlide {
  transform: translateY(-100%);
  transition: 0.4s ease-out;
  // animation: animationname 2s linear infinite;
}

// @keyframes animationname {
//   0% {
//     transform: translateY(100%);
//   }
//   100% {
//     transform: translateY(0%);
//   }
// }
.overFlow {
  overflow-y: hidden;
}
.firstDiv {
  width: 75px;
  .dotIcon {
    height: 9px;
    width: 9px;
    margin-top: 21px;
    margin-left: 26px;
  }
}
.secondDiv {
  width: 357px;
  display: flex;
  flex-direction: column;
  padding-top: 13px;
  padding-bottom: 14px;
  .firstRow {
    display: flex;
    align-items: center;
  }
  .secondRow {
    margin-top: 7px;
    margin-bottom: 11px;
  }
}
.thirdDiv {
  width: 120px;
  position: relative;
  .amount {
    position: absolute;
    top: 19px;
    right: 20px;
  }
  .cyn {
    font-size: 9px;
  }
  .deleteIcon {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    bottom: 2px;
    right: 20px;
    transition: all 0.2s ease-out;
  }
  .deleteIconForRead {
    position: absolute;
    bottom: 22px;
    right: 20px;
  }
}
.trash {
  // color: #767676;
  &:hover {
    &::before {
      color: #404040 !important;
    }
  }
}

// .mainDiv {
//   // background-color: #f00;
//   animation: animationname 2s linear infinite;
//   /*animation: animation-name animation-duration animation-direction animation-iteration-count */
//   transition: 0.5s ease-in-out;
// }
// @keyframes animationname {
//   0% {
//     transform: translateY(10px);
//   }
//   100% {
//     transform: translateY(-10px);
//   }
// }
