.mainDiv {
  // height: auto;
  // position: relative;
  // padding: 12px;

  // border-radius: 15px;
  // display: flex;
  // margin-left: 10px;
  // margin-right: 10px;
  // cursor: pointer;
  &:hover {
    // background: #f1f4f9;
    .amountHover {
      transform: translate(0, -5px);
    }
  }
}
// .middleBody {
//   margin-left: 50px;
//   width: 450px;
//   .title {
//     display: flex;
//   }
//   .radioButton {
//     height: 9px;
//     width: 9px;
//   }
// }
// .time {
//   font-size: 12px;
//   font-weight: 600;
//   color: #adadad;
// }
// .sideDiv {
//   position: relative;
//   width: 160px;
//   right: 0px;
//   .amount {
//     position: absolute;
//     right: 5px;
//     .cynText {
//       font-size: small;
//       color: aqua;
//     }
//   }
// }

//new

.firstDiv {
  width: 75px;
  .dotIcon {
    height: 9.1px;
    width: 9px;
    margin-top: 21px;
    margin-left: 26px;
  }
}
.secondDiv {
  width: 357px;
  display: flex;
  flex-direction: column;
  padding-top: 13px;
  padding-bottom: 14px;
  .amountHover {
    transition: transform 0.3s ease-out;
    // &:hover {
    //   transform: translate(0, -5px);
    // }
  }
  .cyn {
    font-size: 9px;
  }
  .secondRow {
    margin-top: 7px;
    margin-bottom: 11px;
  }
  .thirdRow {
    row-gap: 14px;
  }
}
.thirdDiv {
  width: 120px;
  position: relative;
  .amount {
    position: absolute;
    top: 14px;
    right: 14px;
  }
  .cyn {
    font-size: 9px;
  }
}
