.listed-rows {
  display: grid;
  grid-template-columns: 7% 33% 35% 8% 17%; /* 5 columns with equal width */
  border-top: 1px solid gray;
  align-items: center;
  padding-top: 7px;
  padding-bottom: 7px;
  height:72px
}
.musicList::-webkit-scrollbar{ display: none; }
