.listed-rows {
  display: grid;
  grid-template-columns:  7% 33% 35% 8% 6% 3%;/* 6 columns with equal width */
  border-bottom: 1px solid gray;
  align-items: center;
  padding-top: -7px;
  /* padding-bottom: 7px; */
  height:72px
}
.musicList::-webkit-scrollbar{ display: none; }

.dropdown {
  position: absolute;
  top: 49%;
  left: 17px;
  background-color: white;
  border: 0.5px solid #f1995e;
  border-radius: 5px;
  border-top-width: 0px;
  border-bottom-width: 0px;
  list-style: none;
  padding: 0;
  margin: 0;
  width:148px;
  height:auto;
  text-align: left;
}

.dropdown li {
  padding: 8px 5px 8px 26px;
  border: #f1995e 0.5px solid;
  font-size: 16px;
  border-radius: 5px;
  margin:-1px;
}

.dropdown li:hover {
  background-color: #DEEEFF;
}
.processingCont {

   /* display: none; */
  
   position: fixed;
  
   /* Stay in place */
  
   z-index: 1;
  
   /* Sit on top */
  
   left: 0;
  
   top: 0;
  
   width: 100%;
  
   /* Full width */
  
   height: 100%;
  
   /* Full height */
  
   overflow: auto;
  
   /* Enable scroll if needed */
  
   background-color: rgb(0, 0, 0);
  
   /* Fallback color */
  
   background-color: rgba(0, 0, 0, 0.8);
  
  
  
  
  }
