.verification-input-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    padding: 0;
    margin: 0;
  }

  .verification-input {
    box-sizing: border-box;
    border: 1px solid #adadad;
    box-shadow: 0 5px 5px 0 #e8e8e8;
    border-radius: 10px;
    outline: none;
    width: 55px;
    height: 70px;
    color: var(--cgy4);
    font-size: 46px;
    margin: 0 13px 0 0;
    text-align: center;
    font-weight: 600;

    &.success {
      border-color: #008a0580;
      box-shadow: 0 5px 5px 0 #008a054d;
    }
    &.error {
      border-color: #e32b2580;
      box-shadow: 0 5px 5px 0 #e32b254d;
    }
    &::placeholder {
      color: #e8e8e8;
      font-size: 16px;
    }

    &:disabled {
      background: #e8e8e8;
      cursor: default;
    }
  }
  .verification-input-group {
    display: flex;
    position: relative;
    align-items: center;
    .loading-container {
      position: absolute;
      right: -32px;
    }
    .icon-close1,
    .icon-verification {
      font-size: 20px;
      margin: 10px 4px;
      position: absolute;
      right: -32px;
    }
    .icon-close1 {
      color: #d45858;
    }

    .icon-verification {
      color: #00cc6e;
    }
    .verification-input-error-message {
      position: absolute;
      left: 0;
      right: 0;
      bottom: -4px;
      transform: translateY(100%);
      font-size: 14px;
      color: #d45858;
      text-align: center;
    }
  }
  .loader-container {
    position: absolute;
    right: -32px;
  }
}
