
.verification_input_wrapper {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    // padding: 0;
    // margin: 0;
  }

  .verification_input {
    box-sizing: border-box;
    width: 55px;
    height: 79px;
    font-size: 46px;
    margin: 0 325px 0 0;
    text-align: center;
    font-weight: bold;
    border-color: #d3d3d3;

    &:focus {
      border-color: #35bab6;
      box-shadow: 0 0 0 1px #35bab6;
    }
    &.success {
      border-color: #008a0580;
      box-shadow: 0 5px 5px 0 #008a054d;
    }
    &.error {
      border-color: #e32b2580;
      box-shadow: 0 5px 5px 0 #e32b254d;
    }
    &::placeholder {
      color: #e8e8e8;
      font-size: 16px;
    }

    &:disabled {
      background: #e8e8e8;
      cursor: default;
    }
  }

  .loader-container {
    position: absolute;
    right: -32px;
  }
}
.code__verification_error {
  letter-spacing: 0.22px;
  line-height: 32px;
  font-size: 12px;
}
.code__is_checking {
  letter-spacing: 0.22px;
  line-height: 32px;
  font-size: 12px;
}
.code__verification_success {
  letter-spacing: 0.22px;
  line-height: 32px;
  font-size: 12px;
}
