.topNav{
    background-image: url("https://ideyalabs.blob.core.windows.net/ideyalabs/1682686881403.jpg");
}
.banner{
    background-color: white;
    border-radius: 10px;
    width: 422px;
    height: 61px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
}
.bannerContainer{
    /* text-align: center; */
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}