

.walletdashboardTableContent{
    display: grid;
    grid-template-columns: 51% 22% 22%;
    column-gap: 1%;
}

.walletdashboardTableHeadings{
    display: grid;
    grid-template-columns: 21% 15% 15% 25% 12% 12%;
}