.Toastify {
  &__toast-body {
    margin-right: -24px;
  }
}

#main {
  position: relative;
  top: -52px;
  right: -10px;

  .custom-toast {
    &__container {
      position: absolute;
      z-index: 999;
    }
  }
}
#login {
  position: relative;
  top: 0;
  right: -10px;

  .custom-toast {
    &__container {
      z-index: 999;
    }
  }
}

.custom-toast {
  &__container {
    width: 315px;
    height: 98px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__toast {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 5px 0 0;

    button {
      margin-top: 8px;
      margin-right: 8px;
      opacity: 0.15;
      &:hover {
        opacity: 0.3;
      }
    }
    .container {
      min-height: 66px;
      // min-width: 480px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .icon {
        min-width: 66px;
        min-height: 66px;
        // background: #00cc6e;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
      }
      .message-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 14px;
        padding: 12px 12px 12px 12px;
        max-width: 1000px;
        // font-family: 'Open Sans', sans-serif;
        .title {
          font-size: 14px;
          font-weight: 500;
          color: var(--cgn5);
          margin-bottom: 10px;
        }
        .message {
          color: var(--cgy4);
          max-width: 100%;
          font-size: 12px;
          font-weight: 400;
          word-break: word-break;
          line-height: 16px;
        }
      }
      &.error {
        .icon {
          // background-color: #fce9e8;
        }
        .title {
          color: var(--crd5);
        }
      }
      &.info {
        .icon {
          background-color: #35bab6;
        }
      }
    }
  }
}
