@import './../../../Styles/_mixins.scss';
@import './../../../Styles/_include-media';

.profile_nav_btn {
  color: var(--ibgy1);
  font-weight: 300;
  background-color: #fff;
  padding: 7px 0;
  @include rounded;
  transition: background-color 0.2s ease;
  display: flex;
  flex-wrap: wrap;

  &:hover {
    background-color: #fff4ec;
    color: var(--cm3);
    .label {
      color: #ea7625;
    }

    .caret {
      visibility: visible;
    }

    @media (min-width: 1123px) {
      // margin-left: -4px;
    }
  }

  .caret {
    // visibility: hidden;
    width: 16px;
    height: 8px;
  }
  .caretDown {
    transform: rotate(90deg);
  }

  .active {
    color: var(--cgy4);
    .profile_nav_btn {
      background-color: var(--cbl2);
    }
    .imgLogo {
      color: var(--cm3);
    }
    .label {
      color: var(--cgy4);
    }
    .caret {
      visibility: visible;
    }
    &:hover {
      color: var(--cgy4);
    }
  }
}
