.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;

  .loading {
    position: absolute;
    &--color {
      color: #ffd95a;
      animation: infinite 1s spinReverse;
    }

    &--gray {
      color: var(--gray-200);
      animation: infinite 1.2s spin;
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spinReverse {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
