@import './../../../Styles/_mixins.scss';
@import './../../../Styles/_include-media';

.mainDiv {
  &:hover {
    .downArrow {
      color: var(--ibm1);
    }
  }
}
.menu {
  width: 250px;
  visibility: hidden;
  opacity: 0;
  position: fixed;
  // overflow-y: scroll;
  scrollbar-width: none;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  box-sizing: border-box;
  background: #fff;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);

  @media (min-width: 1200px) {
    visibility: visible;
    opacity: 1;
    width: 250px;
  }

  // @media (min-width: 1416px) {
  //   width: 250px;
  //   height: 1080px;
  // }
}
.iconHome {
  font-size: 27px;
}
.iconProfile {
  font-size: 30px;
}
.iconStatement {
  font-size: 32px;
}
.iconContact_Us {
  font-size: 24px;
}
.iconExport {
  font-size: 28px;
}
.iconGet_Help {
  font-size: 32px;
}
.iconBusiness1 {
  font-size: 24px;
}
.iconAuditLogs {
  font-size: 28px;
}
.iconLogout {
  font-size: 24px;
}
.username {
  max-width: 208px;
}
.tokenIcon {
  font-size: 31.9px;
}
.export {
  font-size: 33px;
}
.exportForBusiness {
  font-size: 31px;
}

.tokenWalletIcon {
  font-size: 31.9px;
}

.ecosystem {
  font-size: 28px;
}

.businessSettings {
  font-size: 31.9px;
}

.font_username {
  width: 250px;
  font-size: 16px;
  line-height: 20px;
  word-break: break-all;
  text-align: left;
}

.username_Dropdown {
  width: 173px;
  text-align: center;
}
.menu_mini {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 11;
  box-sizing: border-box;
  background: #fff;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
  // width: 87px;

  @media (min-width: 768px) {
    visibility: visible;
    opacity: 1;
  }

  @media (min-width: 1200px) {
    visibility: hidden;
    opacity: 0;
  }
}

.menu_float_btn {
  visibility: visible;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: #fff;
  padding: 10px 14px;
  border-bottom-right-radius: 10px;

  @media (min-width: 1123px) {
    visibility: visible;
    opacity: 1;
    width: 250px;
  }
  @media (min-width: 1200px) {
    visibility: hidden;
    opacity: 1;
    width: 250px;
  }
}

.menu_float {
  width: 250px;
  position: fixed;
  // overflow-y: scroll;
  scrollbar-width: none;
  top: 0;
  left: 0;
  bottom: 0;
  background: #fff;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
  z-index: 2;
  transform: translateX(-270px);
  transition: all 0.3s ease;

  &__open {
    transform: translateX(0);
    z-index: 41;
  }
}

.menu_items {
  width: 100%;
  margin-top: 26px;
  // padding: 0 20px 0;
  @media (min-width: 1123px) {
    padding: 0 0 0 9px;
  }
  @media (min-width: 1298px) {
    padding: 0 10px 0;
    margin-left: 5px;
  }
  @media (min-width: 1416px) {
    padding: 0 10px 0;
    margin-left: 5px;
  }
  @media (min-width: 1920px) {
    padding: 0 17px 0;
  }
}
.dummyHeight {
  height: 140px;
}
.menu_items_mini {
  width: 50%;
  margin-top: 50px;
  // padding: 0 22px 0;
}

.logo {
  position: absolute;
  bottom: 48px;
  left: 50%;
  transform: translateX(-50%);
}
.downArrow {
  transform: rotate(90deg);
}

.upArrow {
  transform: rotate(-90deg);
}
.Name {
  font-size: 45px;
}

.lowhead {
  font-size: 20px;
  text-align: center;
}

//tracker status
@media (min-width: 793px) {
  .tracker {
  }
  .get_started {
    margin-right: 66px;
  }
  .tracker_bar {
    margin-left: 28px;
  }
}

@media (min-width: 893px) {
  .tracker {
    width: 240px;
  }
  .get_started {
    width: 230px;
    justify-content: space-between;
  }
  .tracker_bar {
    margin-left: 38px;
  }
}

@media (min-width: 1123px) {
  .tracker {
    width: 240px;
    margin-bottom: 28px;
  }
  .tracker_bar {
    margin-left: 5px;
  }
}

@media (min-width: 1297px) {
  .tracker {
    width: 240px;
    margin-left: -10px;
  }
  .get_started {
    margin-right: 5px;
  }
  .tracker_bar {
    margin-left: 10px;
  }
}

@media (min-width: 1298px) {
  .tracker {
    width: 240px;
    margin-left: 10px;
  }
  .get_started {
    margin-left: 6px;
  }
  .tracker_bar {
    margin-left: 24px;
  }
}

@media (min-width: 1362px) {
  .tracker {
    width: 240px;
    margin-left: 8px;
  }
  .get_started {
    margin-left: 6px;
  }
  .tracker_bar {
    margin-left: 28px;
  }
}

@media (min-width: 1416px) {
  .tracker {
    width: 240px;
    margin-left: 10px;
  }
  .get_started {
    margin-left: 10px;
  }
  .tracker_bar {
    margin-left: 28px;
  }
}

@media (min-width: 1616px) {
  .tracker {
    width: 240px;
    margin-left: 12px;
  }
  .get_started {
    margin-left: 10px;
  }
  .tracker_bar {
    margin-left: 28px;
  }
}

@media (min-width: 1920px) {
  .tracker {
    width: 240px;
    margin-left: 12px;
  }
  .get_started {
    margin-left: 10px;
  }
  .tracker_bar {
    margin-left: 28px;
  }
}
.activeTab {
  color: #404040;
}

.NavLinkButtons {
  margin-left: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 15px;
  min-width: 189px;
  color: var(--ibgy2);
  &:hover {
    background-color: #fff4ec;
    border-radius: 10px;
    color: var(--ibm2);
  }
}

.caret {
  width: 6.62px;
  height: 11.24px;
}

.userDetails {
  @media (min-width: 1401px) {
    // padding-left: 35px;
  }
  @media (max-width: 1400px) {
    padding-left: 0px;
  }
}
