.AdminCard{
    background-color: white;
    border-radius: 10px;
    height: 500px;
    width: 500px;
    margin-left: 30px;
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.mainContainer{
    margin-top: 32px;
    margin-bottom: 44px;
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}