
.component {
    width: 25%;
    max-width: 600px;
    margin: 1em auto;
    padding-bottom: 2em;
    /* border: 0.1px solid black; */
    border-radius: 30px;
    margin-top: 78px;
    font-family: "Bitter", serif;
  }
  
  .musicCover {
    border-radius: 10%;
  }
  
  .playButton {
    background: none;
    border: none;
    align-items: center;
    justify-content: center;
  }
  
  .subTitle {
    margin-top: -1em;
    color: #4f4f4f;
  }
  
  .time {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    color: #828282;
    font-size: smaller;
  }
  
  .timeline {
    width: 80%;
    margin-left: 32px;
    background-color: #27ae60;
  }
  
  input[type="range"] {
    background-color: #27ae60;
  }
  
  @media (max-width: 900px) {
    .component {
      width: 50%;
    }
  }
  .rhap_container{
    background-color: #ccd2e3;
    border-radius: 10px;
  }


  /* custom-audio-player.css */

.rhap_container{
  box-shadow: none !important;
}
.rhap_additional-controls{
  margin-left: 30px !important;
}
.rhap_main-controls{
  margin-right: 28px !important;
}
/* Change the background color of the play button */
.custom-audio-player .rhap_main-controls button.rhap_play-pause-button {
  /* background-color: red; */
  color: #295D93;
}

.rhap_main-controls-button{
  color: #295D93 !important;

}
.rhap_repeat-button{
  color: #295D93 !important;
}
.rhap_volume-button{
  color: #295D93 !important;

}

.rhap_progress-indicator{
  background-color: #295D93 !important;
}
.rhap_progress-filled{
  background-color: #295D93 !important;

}

.rhap_download-progress  {
  background-color: rgb(126, 128, 126) !important;
}
.rhap_volume-indicator{
  background-color: #295D93 !important;
}

.rhap_main{
  width: 300px !important;
}


/* Add additional custom styles as needed */


  