.search-input {
  position: relative;
  .form-input {
    padding-right: 44px;
  }
  .icon-search {
    position: absolute;
    color: #efefef;
    font-size: 24px;
    top: calc(50% - 12px);
    right: 12px;
    margin: 0;
    padding: 0;
    outline: none;
    background: none;
    border: none;
  }
}
