//Main
.main {
  font-family: 'Kanit';
  width: 100%;
  height: 100%;
  min-height: 100%;
  position: relative;
}

@font-face {
  font-family: 'Kanit';
  src: url('./Fonts/Kanit-Regular.ttf');
}
//Fonts
// @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700&display=swap');
// @import './font';

* {
  font-family: 'Kanit';
}

_ html,
body {
  height: 100vh;
  min-height: 100vh;
  font-family: 'Kanit';
  background: #f6f6f6;
  -webkit-font-smoothing: antialiased;
  scrollbar-width: none;
  @media (min-width: 374px) and (max-width: 575px) {
    background-color: #ffffff;
    height: 100vh;
    width: 100vw;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

/* width */
::-webkit-scrollbar {
  width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
}

.cn-rounded {
  border-radius: 10px;
}

.cn-shadow {
  box-shadow: 0 8px 20px 0 #0000001a;
}
