@font-face {
  font-family: 'icomoon';
  // src: url('../Assets/Fonts/icomoon.eot?pmjuaa');
  src: url('./../Assets//Fonts/icomoon.eot?pmjuaa');
  // src: url('../Assets/Fonts/icomoon.eot?pmjuaa#iefix')
  src: url('./../Assets//Fonts//icomoon.eot?pmjuaa#iefix')
      format('embedded-opentype'),
    // url('../Assets/Fonts/icomoon.woff2?pmjuaa') format('woff2'),
    url('./../Assets//Fonts/icomoon.woff2?pmjuaa') format('woff2'),
    // url('../Assets/Fonts/icomoon.ttf?pmjuaa') format('truetype'),
    url('./../Assets/Fonts/icomoon.ttf?pmjuaa') format('truetype'),
    // url('../Assets/Fonts/icomoon.woff?pmjuaa') format('woff'),
    url('./../Assets/Fonts/icomoon.woff?pmjuaa') format('woff'),
    // url('../Assets/Fonts/icomoon.svg?pmjuaa#icomoon') format('svg');
    url('./../Assets/Fonts/icomoon.svg?pmjuaa#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-evidence-Icon .path1:before {
  content: '\e901';
  color: rgb(64, 64, 64);
}
.icon-evidence-Icon .path2:before {
  content: '\ea49';
  margin-left: -0.9130859375em;
  color: rgb(255, 255, 255);
}
.icon-evidence-Icon .path3:before {
  content: '\ea4a';
  margin-left: -0.9130859375em;
  color: rgb(64, 64, 64);
}
.icon-evidence-Icon .path4:before {
  content: '\ea4b';
  margin-left: -0.9130859375em;
  color: rgb(64, 64, 64);
}
.icon-evidence-Icon .path5:before {
  content: '\ea4c';
  margin-left: -0.9130859375em;
  color: rgb(64, 64, 64);
}
.icon-evidence-Icon .path6:before {
  content: '\ea4d';
  margin-left: -0.9130859375em;
  color: rgb(64, 64, 64);
}
.icon-discover .path1:before {
  content: '\ea68';
  color: rgb(77, 77, 77);
}
.icon-discover .path2:before {
  content: '\ea7a';
  margin-left: -1.5927734375em;
  color: rgb(255, 255, 255);
}
.icon-discover .path3:before {
  content: '\ea7b';
  margin-left: -1.5927734375em;
  color: rgb(244, 114, 22);
}
.icon-visa .path1:before {
  content: '\ea69';
  color: rgb(14, 69, 149);
}
.icon-visa .path2:before {
  content: '\ea6a';
  margin-left: -1.58984375em;
  color: rgb(255, 255, 255);
}
.icon-visa .path3:before {
  content: '\ea6b';
  margin-left: -1.58984375em;
  color: rgb(255, 255, 255);
}
.icon-visa .path4:before {
  content: '\ea6c';
  margin-left: -1.58984375em;
  color: rgb(255, 255, 255);
}
.icon-visa .path5:before {
  content: '\ea6d';
  margin-left: -1.58984375em;
  color: rgb(255, 255, 255);
}
.icon-american-express .path1:before {
  content: '\ea67';
  color: rgb(37, 87, 214);
}
.icon-american-express .path2:before {
  content: '\ea78';
  margin-left: -1.5927734375em;
  color: rgb(255, 255, 255);
}
.icon-american-express .path3:before {
  content: '\ea79';
  margin-left: -1.5927734375em;
  color: rgb(255, 255, 255);
}
.icon-mastercard .path1:before {
  content: '\ea6e';
  color: rgb(64, 64, 64);
}
.icon-mastercard .path2:before {
  content: '\ea7c';
  margin-left: -1.5927734375em;
  color: rgb(255, 95, 0);
}
.icon-mastercard .path3:before {
  content: '\ea7d';
  margin-left: -1.5927734375em;
  color: rgb(235, 0, 27);
}
.icon-mastercard .path4:before {
  content: '\ea7e';
  margin-left: -1.5927734375em;
  color: rgb(247, 158, 27);
}
.icon-store-merchant-icon:before {
  content: '\e910';
  color: #13a6a2;
}
.icon-Star-Icon:before {
  content: '\ea85';
  color: #00a6a2;
}
.icon-large-green-signet-icon .path1:before {
  content: '\ea44';
  color: rgb(0, 166, 162);
}
.icon-large-green-signet-icon .path2:before {
  content: '\ea45';
  margin-left: -1.0009765625em;
  color: rgb(0, 166, 162);
}
.icon-large-green-signet-icon .path3:before {
  content: '\ea46';
  margin-left: -1.0009765625em;
  color: rgb(19, 166, 162);
}
.icon-Signet-icon:before {
  content: '\ea42';
  color: #00a6a2;
}
.icon-payouts-icon1:before {
  content: '\ea43';
  color: #00a6a2;
}
.icon-pdf-icon-full:before {
  content: '\ea31';
  color: #00a6a2;
}
.icon-small-check-icon .path1:before {
  content: '\ea29';
  color: rgb(204, 245, 226);
}
.icon-small-check-icon .path2:before {
  content: '\ea5a';
  margin-left: -1.052734375em;
  color: rgb(0, 138, 5);
}
.icon-phone-verify:before {
  content: '\ea25';
  color: #00a6a2;
}
.icon-success-tick .path1:before {
  content: '\e944';
  color: rgb(225, 241, 226);
}
.icon-success-tick .path2:before {
  content: '\ea09';
  margin-left: -1em;
  color: rgb(225, 241, 226);
}
.icon-success-tick .path3:before {
  content: '\ea0f';
  margin-left: -1em;
  color: rgb(225, 241, 226);
}
.icon-success-tick .path4:before {
  content: '\ea11';
  margin-left: -1em;
  color: rgb(225, 241, 226);
}
.icon-success-tick .path5:before {
  content: '\ea13';
  margin-left: -1em;
  color: rgb(225, 241, 226);
}
.icon-success-tick .path6:before {
  content: '\ea17';
  margin-left: -1em;
  color: rgb(225, 241, 226);
}
.icon-success-tick .path7:before {
  content: '\ea18';
  margin-left: -1em;
  color: rgb(225, 241, 226);
}
.icon-success-tick .path8:before {
  content: '\ea19';
  margin-left: -1em;
  color: rgb(225, 241, 226);
}
.icon-success-tick .path9:before {
  content: '\ea1a';
  margin-left: -1em;
  color: rgb(225, 241, 226);
}
.icon-success-tick .path10:before {
  content: '\ea1b';
  margin-left: -1em;
  color: rgb(225, 241, 226);
}
.icon-success-tick .path11:before {
  content: '\ea1c';
  margin-left: -1em;
  color: rgb(225, 241, 226);
}
.icon-success-tick .path12:before {
  content: '\ea1d';
  margin-left: -1em;
  color: rgb(225, 241, 226);
}
.icon-success-tick .path13:before {
  content: '\ea1e';
  margin-left: -1em;
  color: rgb(225, 241, 226);
}
.icon-success-tick .path14:before {
  content: '\ea1f';
  margin-left: -1em;
  color: rgb(0, 138, 5);
}
.icon-coyni-icon:before {
  content: '\ea10';
  color: #00a6a2;
}
.icon-received-icon:before {
  content: '\ea12';
  color: #00a6a2;
}
.icon-send-icon:before {
  content: '\ea14';
  color: #00a6a2;
}
.icon-withdraw-icon:before {
  content: '\ea15';
  color: #00a6a2;
}
.icon-withdrawn-icon:before {
  content: '\ea16';
  color: #00a6a2;
}
.icon-sideNavQR .path1:before {
  content: '\ea27';
  color: rgb(255, 255, 255);
}
.icon-sideNavQR .path2:before {
  content: '\ea2b';
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-on-hand .path1:before {
  content: '\e9cf';
  color: rgb(204, 204, 204);
}
.icon-on-hand .path2:before {
  content: '\e9d0';
  margin-left: -0.9990234375em;
  color: rgb(204, 204, 204);
}
.icon-on-hand .path3:before {
  content: '\e9d1';
  margin-left: -0.9990234375em;
  color: rgb(53, 186, 182);
}
.icon-on-hand .path4:before {
  content: '\e9d2';
  margin-left: -0.9990234375em;
  color: rgb(53, 186, 182);
}
.icon-on-hand .path5:before {
  content: '\e9d3';
  margin-left: -0.9990234375em;
  color: rgb(53, 186, 182);
}
.icon-on-hand .path6:before {
  content: '\e9d4';
  margin-left: -0.9990234375em;
  color: rgb(53, 186, 182);
}
.icon-contract .path1:before {
  content: '\e9c4';
  color: rgb(53, 186, 182);
}
.icon-contract .path2:before {
  content: '\e9c5';
  margin-left: -1em;
  color: rgb(53, 186, 182);
}
.icon-contract .path3:before {
  content: '\e9c6';
  margin-left: -1em;
  color: rgb(204, 204, 204);
}
.icon-contract .path4:before {
  content: '\e9c7';
  margin-left: -1em;
  color: rgb(204, 204, 204);
}
.icon-contract .path5:before {
  content: '\e9c8';
  margin-left: -1em;
  color: rgb(204, 204, 204);
}
.icon-contract .path6:before {
  content: '\e9c9';
  margin-left: -1em;
  color: rgb(204, 204, 204);
}
.icon-contract .path7:before {
  content: '\e9ca';
  margin-left: -1em;
  color: rgb(204, 204, 204);
}
.icon-contract .path8:before {
  content: '\e9cb';
  margin-left: -1em;
  color: rgb(204, 204, 204);
}
.icon-contract .path9:before {
  content: '\e9cc';
  margin-left: -1em;
  color: rgb(204, 204, 204);
}
.icon-contract .path10:before {
  content: '\e9cd';
  margin-left: -1em;
  color: rgb(204, 204, 204);
}
.icon-contract .path11:before {
  content: '\e9ce';
  margin-left: -1em;
  color: rgb(204, 204, 204);
}
.icon-envelope-color .path1:before {
  content: '\e9d5';
  color: rgb(255, 255, 255);
}
.icon-envelope-color .path2:before {
  content: '\e9d6';
  margin-left: -1.1181640625em;
  color: rgb(130, 130, 130);
}
.icon-envelope-color .path3:before {
  content: '\e9d7';
  margin-left: -1.1181640625em;
  color: rgb(255, 255, 255);
}
.icon-envelope-color .path4:before {
  content: '\e9d8';
  margin-left: -1.1181640625em;
  color: rgb(130, 130, 130);
}
.icon-envelope-color .path5:before {
  content: '\e9d9';
  margin-left: -1.1181640625em;
  color: rgb(255, 255, 255);
}
.icon-envelope-color .path6:before {
  content: '\e9da';
  margin-left: -1.1181640625em;
  color: rgb(130, 130, 130);
}
.icon-envelope-color .path7:before {
  content: '\e9db';
  margin-left: -1.1181640625em;
  color: rgb(53, 186, 182);
}
.icon-envelope-color .path8:before {
  content: '\e9dc';
  margin-left: -1.1181640625em;
  color: rgb(53, 186, 182);
}
.icon-envelope-color .path9:before {
  content: '\e9dd';
  margin-left: -1.1181640625em;
  color: rgb(53, 186, 182);
}
.icon-envelope-color .path10:before {
  content: '\e9de';
  margin-left: -1.1181640625em;
  color: rgb(53, 186, 182);
}
.icon-envelope-color .path11:before {
  content: '\e9df';
  margin-left: -1.1181640625em;
  color: rgb(53, 186, 182);
}
.icon-open-box .path1:before {
  content: '\e9e0';
  color: rgb(204, 204, 204);
}
.icon-open-box .path2:before {
  content: '\e9e1';
  margin-left: -0.9052734375em;
  color: rgb(53, 186, 182);
}
.icon-open-box .path3:before {
  content: '\e9e2';
  margin-left: -0.9052734375em;
  color: rgb(53, 186, 182);
}
.icon-open-box .path4:before {
  content: '\e9e3';
  margin-left: -0.9052734375em;
  color: rgb(53, 186, 182);
}
.icon-check-color .path1:before {
  content: '\e9e4';
  color: rgb(0, 204, 110);
}
.icon-check-color .path2:before {
  content: '\e9e5';
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-wallet-color .path1:before {
  content: '\e9e6';
  color: rgb(255, 255, 255);
}
.icon-wallet-color .path2:before {
  content: '\e9e7';
  margin-left: -0.94921875em;
  color: rgb(173, 173, 173);
}
.icon-wallet-color .path3:before {
  content: '\e9e8';
  margin-left: -0.94921875em;
  color: rgb(255, 255, 255);
}
.icon-wallet-color .path4:before {
  content: '\e9e9';
  margin-left: -0.94921875em;
  color: rgb(53, 186, 182);
}
.icon-wallet-color .path5:before {
  content: '\e9ea';
  margin-left: -0.94921875em;
  color: rgb(255, 255, 255);
}
.icon-wallet-color .path6:before {
  content: '\e9eb';
  margin-left: -0.94921875em;
  color: rgb(53, 186, 182);
}
.icon-wallet-color .path7:before {
  content: '\e9ec';
  margin-left: -0.94921875em;
  color: rgb(255, 255, 255);
}
.icon-wallet-color .path8:before {
  content: '\e9ed';
  margin-left: -0.94921875em;
  color: rgb(53, 186, 182);
}
.icon-wallet-color .path9:before {
  content: '\e9ee';
  margin-left: -0.94921875em;
  color: rgb(255, 255, 255);
}
.icon-wallet-color .path10:before {
  content: '\e9ef';
  margin-left: -0.94921875em;
  color: rgb(53, 186, 182);
}
.icon-wallet-color .path11:before {
  content: '\e9f0';
  margin-left: -0.94921875em;
  color: rgb(255, 255, 255);
}
.icon-wallet-color .path12:before {
  content: '\e9f1';
  margin-left: -0.94921875em;
  color: rgb(53, 186, 182);
}
.icon-wallet-color .path13:before {
  content: '\e9f2';
  margin-left: -0.94921875em;
  color: rgb(255, 255, 255);
}
.icon-wallet-color .path14:before {
  content: '\e9f3';
  margin-left: -0.94921875em;
  color: rgb(173, 173, 173);
}
.icon-wallet-color .path15:before {
  content: '\e9f4';
  margin-left: -0.94921875em;
  color: rgb(255, 255, 255);
}
.icon-wallet-color .path16:before {
  content: '\e9f5';
  margin-left: -0.94921875em;
  color: rgb(173, 173, 173);
}
.icon-wallet-color .path17:before {
  content: '\e9f6';
  margin-left: -0.94921875em;
  color: rgb(255, 255, 255);
}
.icon-wallet-color .path18:before {
  content: '\e9f7';
  margin-left: -0.94921875em;
  color: rgb(173, 173, 173);
}
.icon-x-color .path1:before {
  content: '\e9f8';
  color: rgb(212, 88, 88);
}
.icon-x-color .path2:before {
  content: '\e9f9';
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-x-color .path3:before {
  content: '\e9fa';
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-export-multicolor .path1:before {
  content: '\e9fb';
  color: rgb(173, 173, 173);
}
.icon-export-multicolor .path2:before {
  content: '\e9fc';
  margin-left: -1em;
  color: rgb(53, 186, 182);
}
.icon-export-multicolor .path3:before {
  content: '\e9fd';
  margin-left: -1em;
  color: rgb(53, 186, 182);
}
.icon-filter-multicolor .path1:before {
  content: '\e9fe';
  color: rgb(173, 173, 173);
}
.icon-filter-multicolor .path2:before {
  content: '\e9ff';
  margin-left: -0.9169921875em;
  color: rgb(173, 173, 173);
}
.icon-filter-multicolor .path3:before {
  content: '\ea00';
  margin-left: -0.9169921875em;
  color: rgb(173, 173, 173);
}
.icon-filter-multicolor .path4:before {
  content: '\ea01';
  margin-left: -0.9169921875em;
  color: rgb(53, 186, 182);
}
.icon-filter-multicolor .path5:before {
  content: '\ea02';
  margin-left: -0.9169921875em;
  color: rgb(53, 186, 182);
}
.icon-filter-multicolor .path6:before {
  content: '\ea03';
  margin-left: -0.9169921875em;
  color: rgb(53, 186, 182);
}
.icon-amount-green-down .path1:before {
  content: '\e9be';
  color: rgb(0, 204, 110);
}
.icon-amount-green-down .path2:before {
  content: '\e9bf';
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-amount-green-down .path3:before {
  content: '\e9c0';
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-amount-red-down .path1:before {
  content: '\e9c1';
  color: rgb(212, 88, 88);
}
.icon-amount-red-down .path2:before {
  content: '\e9c2';
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-amount-red-down .path3:before {
  content: '\e9c3';
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-amount-green .path1:before {
  content: '\e9b4';
  color: rgb(0, 204, 110);
}
.icon-amount-green .path2:before {
  content: '\e9b6';
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-amount-green .path3:before {
  content: '\e9b7';
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-amount-red .path1:before {
  content: '\e9b8';
  color: rgb(212, 88, 88);
}
.icon-amount-red .path2:before {
  content: '\e9b9';
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-amount-red .path3:before {
  content: '\e9ba';
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-check-yellow .path1:before {
  content: '\e923';
  color: rgb(255, 217, 90);
}
.icon-check-yellow .path2:before {
  content: '\e956';
  margin-left: -1em;
  color: rgb(76, 76, 76);
}
.icon-bulding-icon:before {
  content: '\e95c';
  // color: #767676;
}
.icon-merchant-account-icon:before {
  content: '\e98b';
  // color: #767676;
}
.icon-password-hide-new:before {
  content: '\ea20';
  color: #b7b7b7;
}
.icon-link-icon:before {
  content: '\ea2c';
  color: #767676;
}
.icon-info-2:before {
  content: '\ea3e';
  color: #767676;
}
.icon-identity-ID-icon:before {
  content: '\ea37';
  color: #767676;
}
.icon-coyni-Icon:before {
  content: '\ea21';
}
.icon-export-icon:before {
  content: '\ea22';
}
.icon-get-help-question-mark-icon:before {
  content: '\ea23';
}
.icon-Briefcase-icon:before {
  content: '\ea24';
  // color: #767676;
}
.icon-user-icon:before {
  content: '\ea26';
  // color: #767676;
}
.icon-card-new-icon:before {
  content: '\ea40';
}
.icon-bank-new-icon:before {
  content: '\ea41';
}
.icon-plus-icon:before {
  content: '\ea3f';
  color: #767676;
}
.icon-View-Icon-and-Tooltip:before {
  content: '\ea3d';
  color: #767676;
}
.icon-Side-Right-Icon:before {
  content: '\ea28';
}
.icon-Download-Icon-Downloading:before {
  content: '\ea30';
  color: #767676;
}
.icon-address-icon1:before {
  content: '\ea2d';
}
.icon-email-icon:before {
  content: '\ea2e';
}
.icon-phone-icon:before {
  content: '\ea2f';
}
.icon-double-arrow-Left:before {
  content: '\ea63';
  color: #adadad;
}
.icon-double-arrow-Right:before {
  content: '\ea64';
  color: #adadad;
}
.icon-small-arrow:before {
  content: '\ea58';
  // color: #767676;
}
.icon-calculator-accoutning-icon:before {
  content: '\ea32';
}
.icon-coyni-Icon1:before {
  content: '\ea33';
}
.icon-credit-card-icon:before {
  content: '\ea34';
}
.icon-Disputes-Icon:before {
  content: '\ea35';
}
.icon-export-icon1:before {
  content: '\ea36';
}
.icon-payouts-icon:before {
  content: '\ea38';
}
.icon-report-icon:before {
  content: '\ea39';
}
.icon-settings-gear-icon-outlined:before {
  content: '\ea3a';
}
.icon-Underwriting-icon:before {
  content: '\ea3b';
}
.icon-user-icon1:before {
  content: '\ea3c';
}
.icon-reserve-icon:before {
  content: '\e939';
}
.icon-settings-gear-icon:before {
  content: '\e900';
}
.icon-desktop:before {
  content: '\e903';
}
.icon-mobile:before {
  content: '\e958';
}
.icon-user-permission-icon:before {
  content: '\ea70';
}
.icon-SMS-OTP-icon:before {
  content: '\ea6f';
  // color: #767676;
}
.icon-edit-icon-new:before {
  content: '\ea5e';
  color: #767676;
}
.icon-signet-Icon:before {
  content: '\ea48';
}
.icon-Menu-Right-Icon:before {
  content: '\ea47';
}
.icon-send:before {
  content: '\e9b1';
}
.icon-add-funds1:before {
  content: '\e946';
}
.icon-withdrawal:before {
  content: '\ea0e';
}
.icon-address-icon:before {
  content: '\ea0a';
}
.icon-trash:before {
  content: '\ea0b';
  // color: #767676;
}
.icon-bank3:before {
  content: '\ea0c';
}
.icon-new-download:before {
  content: '\ea08';
  color: #707070;
}
.icon-signet:before {
  content: '\ea05';
  // color: #828282;
}
.icon-envelope:before {
  content: '\ea06';
  color: #adadad;
}
.icon-envelopeopen:before {
  content: '\ea07';
  color: #adadad;
}
.icon-wallet1:before {
  content: '\ea04';
}
.icon-print:before {
  content: '\e9bd';
}
.icon-pdf:before {
  content: '\e9bb';
}
.icon-trash-2:before {
  content: '\e9bc';
}

.icon-calendar:before {
  content: '\e9ac';
}
.icon-exchange:before {
  content: '\e9ae';
}
.icon-gift-card:before {
  content: '\e9af';
}
.icon-receive:before {
  content: '\e9b0';
}
.icon-arquive2:before {
  content: '\e904';
}
.icon-chain:before {
  content: '\e905';
}
.icon-check:before {
  content: '\e90a';
}
.icon-export2:before {
  content: '\e90b';
}
.icon-message:before {
  content: '\e914';
}
.icon-report:before {
  content: '\e915';
}
.icon-ticket:before {
  content: '\e916';
}
.icon-time3:before {
  content: '\e93e';
}
.icon-transaction:before {
  content: '\e951';
}
.icon-cancel:before {
  content: '\e9b5';
}
.icon-accounting:before {
  content: '\e906';
}
.icon-bank2:before {
  content: '\e907';
}
.icon-dispute:before {
  content: '\e909';
}
.icon-merchants:before {
  content: '\e90c';
}
.icon-notification-bold:before {
  content: '\e90d';
}
.icon-reports:before {
  content: '\e90e';
}
.icon-settings:before {
  content: '\e90f';
}
.icon-tickets:before {
  content: '\e911';
}
.icon-transactions:before {
  content: '\e912';
}
.icon-user:before {
  content: '\e908';
}
.icon-icon-verification:before {
  content: '\e913';
}
.icon-bank-account:before {
  content: '\e947';
}
.icon-wire:before {
  content: '\e917';
}
.icon-add-funds:before {
  content: '\e918';
}
.icon-wallet-money-color:before {
  content: '\e919';
}
.icon-transaction-errors:before {
  content: '\e91a';
}
.icon-transaction-success:before {
  content: '\e91b';
}
.icon-withdrawal-success:before {
  content: '\e92a';
}
.icon-cart:before {
  content: '\e943';
}
.icon-bank:before {
  content: '\e945';
}
.icon-new-wallet:before {
  content: '\e924';
}
.icon-info:before {
  content: '\e93d';
}
.icon-refresh:before {
  content: '\e920';
}
.icon-search:before {
  content: '\e91f';
}
.icon-activate:before {
  content: '\e91e';
}
.icon-alert:before {
  content: '\e91d';
}
.icon-archive:before {
  content: '\e925';
}
.icon-copy:before {
  content: '\e926';
}
.icon-filter:before {
  content: '\e927';
}
.icon-key:before {
  content: '\e95f';
}
.icon-help:before {
  content: '\e928';
}
.icon-404:before {
  content: '\e929';
}
.icon-cellphone:before {
  content: '\e92b';
}
.icon-phone-bold:before {
  content: '\e92c';
}
.icon-lock:before {
  content: '\e92d';
}
.icon-logout:before {
  content: '\e92e';
}
.icon-export:before {
  content: '\e92f';
}
.icon-email:before {
  content: '\e930';
}
.icon-notification:before {
  content: '\e91c';
}
.icon-clock:before {
  content: '\e921';
}
.icon-clock-bold:before {
  content: '\e931';
}
.icon-deposity-symbol:before {
  content: '\e932';
}
.icon-withdrawal-symbol:before {
  content: '\e933';
}
.icon-external:before {
  content: '\e934';
}
.icon-redirect:before {
  content: '\e935';
}
.icon-close1:before {
  content: '\e93c';
}
.icon-void:before {
  content: '\e936';
}
.icon-close:before {
  content: '\e937';
}
.icon-close-bold:before {
  content: '\e938';
}
.icon-verification:before {
  content: '\e93a';
}
.icon-success:before {
  content: '\e95b';
}
.icon-arrow-up:before {
  content: '\e93b';
}
.icon-arrow-down:before {
  content: '\e93f';
}
.icon-arrow-bold:before {
  content: '\e940';
}
.icon-arrow-left:before {
  content: '\e941';
}
.icon-arrow-right:before {
  content: '\e942';
}
.icon-division:before {
  content: '\e948';
}
.icon-circle:before {
  content: '\e949';
}
.icon-loading:before {
  content: '\e94a';
}
.icon-loading-out:before {
  content: '\e94b';
}
.icon-circle-out:before {
  content: '\e94c';
}
.icon-card:before {
  content: '\e94d';
}
.icon-credit-card:before {
  content: '\e960';
}
.icon-two-cards:before {
  content: '\e94e';
}
.icon-wallet:before {
  content: '\e94f';
}
.icon-wallet-money:before {
  content: '\e950';
}
.icon-eye:before {
  content: '\e952';
}
.icon-delete:before {
  content: '\e953';
}
.icon-edit:before {
  content: '\e954';
}
.icon-pencil:before {
  content: '\e955';
}
.icon-chart:before {
  content: '\e959';
}
.icon-american-express_disabled:before {
  content: '\ea84';
  color: #ccc;
}
.icon-american-express1:before {
  content: '\ea83';
  color: #016fd0;
}
.icon-discover_disabled .path1:before {
  content: '\e95a';
  color: rgb(248, 248, 248);
}
.icon-discover_disabled .path2:before {
  content: '\ea5f';
  margin-left: -1.375em;
  color: rgb(173, 173, 173);
}
.icon-discover_disabled .path3:before {
  content: '\ea60';
  margin-left: -1.375em;
  color: rgb(44, 44, 44);
}
.icon-discover_disabled .path4:before {
  content: '\ea61';
  margin-left: -1.375em;
  color: rgb(44, 44, 44);
}
.icon-discover_disabled .path5:before {
  content: '\ea62';
  margin-left: -1.375em;
  color: rgb(44, 44, 44);
}
.icon-discover_disabled .path6:before {
  content: '\ea65';
  margin-left: -1.375em;
  color: rgb(44, 44, 44);
}
.icon-discover_disabled .path7:before {
  content: '\ea66';
  margin-left: -1.375em;
  color: rgb(44, 44, 44);
}
.icon-discover_disabled .path8:before {
  content: '\ea71';
  margin-left: -1.375em;
  color: rgb(44, 44, 44);
}
.icon-discover_disabled .path9:before {
  content: '\ea73';
  margin-left: -1.375em;
  color: rgb(173, 173, 173);
}
.icon-discover_disabled .path10:before {
  content: '\ea74';
  margin-left: -1.375em;
  color: rgb(44, 44, 44);
}
.icon-discover1 .path1:before {
  content: '\e95d';
  color: rgb(248, 248, 248);
}
.icon-discover1 .path2:before {
  content: '\e95e';
  margin-left: -1.375em;
  color: rgb(255, 112, 0);
}
.icon-discover1 .path3:before {
  content: '\e961';
  margin-left: -1.375em;
  color: rgb(44, 44, 44);
}
.icon-discover1 .path4:before {
  content: '\e962';
  margin-left: -1.375em;
  color: rgb(44, 44, 44);
}
.icon-discover1 .path5:before {
  content: '\e963';
  margin-left: -1.375em;
  color: rgb(44, 44, 44);
}
.icon-discover1 .path6:before {
  content: '\e964';
  margin-left: -1.375em;
  color: rgb(44, 44, 44);
}
.icon-discover1 .path7:before {
  content: '\e965';
  margin-left: -1.375em;
  color: rgb(44, 44, 44);
}
.icon-discover1 .path8:before {
  content: '\e966';
  margin-left: -1.375em;
  color: rgb(44, 44, 44);
}
.icon-discover1 .path9:before {
  content: '\e967';
  margin-left: -1.375em;
  color: rgb(255, 112, 0);
}
.icon-discover1 .path10:before {
  content: '\e968';
  margin-left: -1.375em;
  color: rgb(44, 44, 44);
}
.icon-jcb_disabled .path1:before {
  content: '\e969';
  color: rgb(255, 255, 255);
}
.icon-jcb_disabled .path2:before {
  content: '\e96a';
  margin-left: -1.375em;
  color: rgb(204, 204, 204);
}
.icon-jcb_disabled .path3:before {
  content: '\e96b';
  margin-left: -1.375em;
  color: rgb(204, 204, 204);
}
.icon-jcb_disabled .path4:before {
  content: '\e96c';
  margin-left: -1.375em;
  color: rgb(255, 255, 255);
}
.icon-jcb_disabled .path5:before {
  content: '\e96d';
  margin-left: -1.375em;
  color: rgb(173, 173, 173);
}
.icon-jcb_disabled .path6:before {
  content: '\e96e';
  margin-left: -1.375em;
  color: rgb(255, 255, 255);
}
.icon-jcb_disabled .path7:before {
  content: '\e96f';
  margin-left: -1.375em;
  color: rgb(255, 255, 255);
}
.icon-jcb .path1:before {
  content: '\e970';
  color: rgb(255, 255, 255);
}
.icon-jcb .path2:before {
  content: '\e971';
  margin-left: -1.375em;
  color: rgb(0, 166, 73);
}
.icon-jcb .path3:before {
  content: '\e972';
  margin-left: -1.375em;
  color: rgb(0, 114, 190);
}
.icon-jcb .path4:before {
  content: '\e973';
  margin-left: -1.375em;
  color: rgb(255, 255, 255);
}
.icon-jcb .path5:before {
  content: '\e974';
  margin-left: -1.375em;
  color: rgb(255, 21, 31);
}
.icon-jcb .path6:before {
  content: '\e975';
  margin-left: -1.375em;
  color: rgb(255, 255, 255);
}
.icon-jcb .path7:before {
  content: '\e976';
  margin-left: -1.375em;
  color: rgb(255, 255, 255);
}
.icon-visa_disabled .path1:before {
  content: '\e977';
  color: rgb(173, 173, 173);
}
.icon-visa_disabled .path2:before {
  content: '\e978';
  margin-left: -1.375em;
  color: rgb(255, 255, 255);
}
.icon-visa_disabled .path3:before {
  content: '\e979';
  margin-left: -1.375em;
  color: rgb(255, 255, 255);
}
.icon-visa_disabled .path4:before {
  content: '\e97a';
  margin-left: -1.375em;
  color: rgb(255, 255, 255);
}
.icon-visa_disabled .path5:before {
  content: '\e97b';
  margin-left: -1.375em;
  color: rgb(255, 255, 255);
}
.icon-visa_disabled .path6:before {
  content: '\e97c';
  margin-left: -1.375em;
  color: rgb(204, 204, 204);
}
.icon-visa1 .path1:before {
  content: '\e97d';
  color: rgb(0, 102, 178);
}
.icon-visa1 .path2:before {
  content: '\e97e';
  margin-left: -1.375em;
  color: rgb(255, 255, 255);
}
.icon-visa1 .path3:before {
  content: '\e97f';
  margin-left: -1.375em;
  color: rgb(255, 255, 255);
}
.icon-visa1 .path4:before {
  content: '\e980';
  margin-left: -1.375em;
  color: rgb(255, 255, 255);
}
.icon-visa1 .path5:before {
  content: '\e981';
  margin-left: -1.375em;
  color: rgb(255, 255, 255);
}
.icon-visa1 .path6:before {
  content: '\e982';
  margin-left: -1.375em;
  color: rgb(249, 165, 51);
}
.icon-mastercard_disabled .path1:before {
  content: '\e983';
  color: rgb(204, 204, 204);
}
.icon-mastercard_disabled .path2:before {
  content: '\e984';
  margin-left: -1.375em;
  color: rgb(204, 204, 204);
}
.icon-mastercard_disabled .path3:before {
  content: '\e985';
  margin-left: -1.375em;
  color: rgb(173, 173, 173);
}
.icon-mastercard_disabled .path4:before {
  content: '\e986';
  margin-left: -1.375em;
  color: rgb(239, 239, 239);
}
.icon-mastercard1 .path1:before {
  content: '\e987';
  color: rgb(54, 73, 93);
}
.icon-mastercard1 .path2:before {
  content: '\e988';
  margin-left: -1.375em;
  color: rgb(241, 101, 34);
}
.icon-mastercard1 .path3:before {
  content: '\e989';
  margin-left: -1.375em;
  color: rgb(228, 27, 36);
}
.icon-mastercard1 .path4:before {
  content: '\e98a';
  margin-left: -1.375em;
  color: rgb(248, 158, 28);
}
.icon-bitcoin-icon:before {
  content: '\ea0d';
  color: #00a6a2;
}
.icon-bat:before {
  content: '\e98c';
  color: #ff5000;
}
.icon-aion .path1:before {
  content: '\e98d';
  color: rgb(0, 191, 236);
}
.icon-aion .path2:before {
  content: '\e9b2';
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-aion .path3:before {
  content: '\e9b3';
  margin-left: -1em;
  color: rgb(255, 255, 255);
  opacity: 0.5;
}
.icon-eth .path1:before {
  content: '\e98f';
  color: rgb(98, 126, 234);
}
.icon-eth .path2:before {
  content: '\e990';
  margin-left: -1em;
  color: rgba(255, 255, 255, 0.6);
}
.icon-eth .path3:before {
  content: '\e991';
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-eth .path4:before {
  content: '\e992';
  margin-left: -1em;
  color: rgba(255, 255, 255, 0.6);
}
.icon-eth .path5:before {
  content: '\e993';
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-eth .path6:before {
  content: '\e994';
  margin-left: -1em;
  color: rgba(255, 255, 255, 0.2);
}
.icon-eth .path7:before {
  content: '\e995';
  margin-left: -1em;
  color: rgba(255, 255, 255, 0.6);
}
.icon-zil .path1:before {
  content: '\e996';
  color: rgb(73, 193, 191);
}
.icon-zil .path2:before {
  content: '\e997';
  margin-left: -1em;
  color: rgba(255, 255, 255, 0.31);
}
.icon-zil .path3:before {
  content: '\e998';
  margin-left: -1em;
  color: rgba(255, 255, 255, 0.65);
}
.icon-zil .path4:before {
  content: '\e999';
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-bnt:before {
  content: '\e99a';
}
.icon-btc:before {
  content: '\e99c';
  color: #f7931a;
}
.icon-bth:before {
  content: '\e99d';
  color: #8dc351;
}
.icon-cvc:before {
  content: '\e99e';
  color: #3ab03e;
}
.icon-dash:before {
  content: '\e99f';
  color: #008ce7;
}
.icon-enj:before {
  content: '\e9a0';
  color: #624dbf;
}
.icon-fun:before {
  content: '\e9a1';
  color: #ed1968;
}
.icon-knc:before {
  content: '\e9a2';
  color: #188c92;
}
.icon-link1:before {
  content: '\e9a3';
  color: #01a6fb;
}
.icon-lrc:before {
  content: '\e9a4';
  color: #2ab6f6;
}
.icon-ltc:before {
  content: '\e9a5';
  color: #bfbbbb;
}
.icon-mith:before {
  content: '\e9a6';
  color: #00316d;
}
.icon-mtl:before {
  content: '\e9a7';
}
.icon-omg:before {
  content: '\e9ab';
  color: #1a53f0;
}
.icon-rep:before {
  content: '\e9a8';
  color: #602a52;
}
.icon-usdc:before {
  content: '\e9a9';
  color: #2775ca;
}
.icon-usdt:before {
  content: '\e9aa';
  color: #279c79;
}
.icon-xlm:before {
  content: '\e98e';
}
.icon-xrp:before {
  content: '\e99b';
  color: #00aae4;
}
.icon-currency-dollar:before {
  content: '\e902';
}
.icon-currency-dollar1:before {
  content: '\e957';
}
.icon-clock1:before {
  content: '\e922';
}
