@mixin font($size, $weight) {
  font-size: $size;
  font-weight: $weight;
}

@mixin custom-scroll() {
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  &::-webkit-scrollbar-track {
    background: var(--gray-200);
    box-shadow: inset 0 0 0 2px #fff;
  }

  &::-webkit-scrollbar-thumb {
    background: #adadad;
    border-radius: 12px;
  }
}

@mixin shadow {
  box-shadow: 0 8px 20px 0 #0000001a;
}

@mixin shadow-light {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

@mixin shadow-medium {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
}

@mixin rounded {
  border-radius: 10px;
}
