:root {
  // V2 - color palette
  // 'c' refers to coyni,ib refers to ibaas, 'gy' refers to Gray color
  --ibwhite: #ffff;
  --ibgy1: #404040;
  --ibgy2: #767676;
  --ibgy3: #b7b7b7;
  --ibgy4: #cccccc;
  --ibgy5: #adadad;
  --ibgy6: #707070;
  --ibgy7: #00000029;
  --ibgy8: #666666;
  --ibgy9: #4c4c4c;
  --cgy1: #ccc;
  --cgy2: #adadad;
  --cgy3: #767676;
  --cgy4: #404040;
  --cgy5: #4d4d4d;
  --cgy6: #00000026;
  --cgy7: #0000001a;
  --cgy8: #4c4c4c;
  --cgy9: #828282;
  --cgy10: #e5f6f6;
  --cgy11: #f8f8f8;
  --cgy12: #e5e5e5;
  --cgy13: #707070;
  // 'c' refers to coyni, ib refers to ibaas,'m' refers to Main color
  --ibm1: #295d93;
  --ibm2: #ea7625;
  --ibm3: #000000;
  --ibm8: #fff4ec;
  --ibm9: #ffa500;
  --ibm10: #000000b3;
  --ibm11: #f1f4f9;
  --ibm14: #d5eaff;
  --ibm15: #ffffff;
  --cm1: #f1f4f9;
  --cm2: #d8e2f0;
  --cm3: #00a6a2;
  --cm4: #00908c;
  --cm7: #0c3c3b;
  --cm8: #13a6a2;
  --cm9: #f5f5f5;
  --cm10: #f2f5f8;
  // c refers to coyni,ib refers to ibaas, 'gn' refers to green color
  --ibgn1: #008a05;
  --ibgn2: #19951e;
  --ibgn3: #00a6a2;
  --cgn1: #e5f3e5;
  --cgn2: #00cc6e;
  --cgn5: #008a05;
  --cgn6: #007b04;
  --cgn7: #00cc6e10;
  --cgn8: #129c97;
  // c refers to coyni,ib refers to ibaas, 'rd' refers to red color
  --ibrd1: #e32b25;
  --ibrd2: #d54848;
  --ibrd3: #fc0d0d;
  --ibrd4: #d45858;
  --crd1: #fce9e8;
  --crd2: #d45858;
  --crd3: #d13e32;
  --crd4: #f9eae8;
  --crd5: #e32b25;
  --crd6: #d54848;
  --crd7: #e32b2580;
  // c refers to coyni, 'or' refers to orange color
  --ibor1: #f7e5d7;
  --cor1: #ffefd8;
  --cor2: #ffa728;
  --cor3: '#EA7625';
  --cor5: #ffa70f;
  // c refers to coyni, 'bl' refers to blue color
  --ibl1: #d8e2f0;
  --ibl2: #0079a8;
  --ibl4: #295d9380;
  --ibl5: #c4e1ff;
  --ibl6: #d5eaff;
  --cbl1: #e8f3f9;
  --cbl2: #f2f5f8;
  --cbl3: #d3deed;
  --cbl4: #295d93;
  --cbl5: #1d86be;
  --cbl7: #eff2f8;
  // c refers to coyni, 'cy  refers to cyan color
  --ccy1: #35bab6;
  // c refers to coyni, 'bc  refers to black color
  --cbc4: #4d4d4d;
  --cbc5: #1d1e2e;
  --cbc6: #000000b3;
  --cbc7: #00000040;
  --cbc8: #00000066;

  --cwhitesmoke: #efefef;
  --cwhite: #fff;

  // please add new colors above in v2 color palette
  // V1 color palette, will be removed later

  --background-color: #f6f6f6;
  --white: #fff;
  --primary: #ffd95a;
  --primary-hover: #ffca37;
  --secondary: #fff;
  --yellow: #ffda00;
  --hover: #fef9e2;
  --transparent-blue: #35bab6b3;
  --blue: #35bab6;
  --blue-hover: #2fa2a2;
  --sky-blue: #627eea;
  --green: #00cc6e;
  --shamrock-green: #07996a;
  --orange: #ffa701;
  --red: #d45858;
  --hawkes-blue: #dadce3;
  --hawkes-blue-hover: #d0d3dc;

  //GRAYSCALE
  --light-gray: #efefef;
  --gray-000: #f5f5f5;
  --gray-100: #e8e8e8;
  --gray-200: #cccccc;
  --gray-300: #adadad;
  --gray-400: #555;
  --gray-500: #4c4c4c;
}
